#output-container {
    width: 48%;
    float: right;
}
#output {
    border: 2px solid black;
}
#data-container {
    width: 48%;
    float: left;
}
#jsoneditor_container {
    width: 100%;
}
#textbox-ace {
    float: left;
    width: 100%;
    border: 2px solid black;
    margin-top: 0;
    min-height: 500px;
}
