body {
    margin-top: 50pt;
}

header {
    background: #222;
    position: fixed;
    z-index: 7;
    top: 0;
    left: 0px;
    right: 0px;
    padding: 10px;
}
header h1 {
    color: white;
    width: 100%;
    margin: 0;
}
header nav { position: absolute;}

#searchbox {
    background: white;
    border-radius: 15px;
    float: right;
    padding:0 15px 0 15px;
    border: 2px solid black;
    }
#searchinput {
    border: 0;
}
#searchbox:before {
    content: '';
    background-image: url("lib/jquery-ui-1.10.2.custom/css/smoothness/images/ui-icons_222222_256x240.png");
    background-position: -160px -112px;
    margin: 2px;
    width: 16px;
    height: 16px;
    display: block;
    float: left;
}

h1, h2 { text-align: center; }

a.button {
    color: white;
    display: inline;
    margin: 5px;
    border: 1px solid #000;
    padding: 5px 1em 5px 1em;
    background-color: #777;
    border-radius: 5px;
    box-shadow: inset #9e9e9e 0px 2px 8px, inset #000 0px -1px 5px, #000 0px 0px 3px;
    }
a.button:hover {
    background-color: #666;
}
a.button:active {
    background-color: #222;
    box-shadow: inset #000 0px 2px 4px, inset #888 0px -1px 3px, #000 0px 0px 3px;
}


a.file_file {
    color: black;
}
a.file_dir {
    font-weight: bold;
}

#flashed_notices {
    position: fixed;
    z-index: 1005;
    top: 0;
    right: 0;
}

.flashed {
    background: #aaa;
    color: black;
    border-radius: 10px;
    padding: 2px 1em 2px 1em;
    margin: 10px;
}
input {
    padding: 2px;
}

#titleinput {
    width: 98%;

}
#title_and_tags {
    width: 80%;
    margin:auto;
}
