{% extends "layout.html" %}

{% block head_stuff %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lib/jsoneditor-2.1.1.min/jsoneditor-min.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='markdown_editor.css') }}" />
{% endblock %}

{% block nav %}
<button id="button_save">Save</button>
<button id="button_validate">Check it's all valid</button>
<button id="button_close">Close</button>
{% endblock %}
{% block display_title %} {{ filename }} {% endblock %}

{% block body %}

<h2>{{ full_filepath }}</h2>

<div id="data-container">
    <h2>Markdown: <a href="http://daringfireball.net/projects/markdown/syntax" target="_blank">?</a></h2>
    <pre id="textbox-ace">{{ contents }}</pre>

    <h2>And metadata ({{metadataformat}}):</h2>
    <input type="hidden" value="{{metadataformat}}" id="metadataformat"/>
    <input type="hidden" value="{{json}}" id="jsonmetadata"/>
    <div id="jsoneditor_container"><div id="jsoneditor"></div></div>
</div>

<div id="output-container">
    <h2>Output:</h2>
    <div id="output"></div>
</div>
<div id="return_stuff" style="clear:both"></div>
{% endblock %}

{% block javascript_includes %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='marked.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='lib/jsoneditor-2.1.1.min/jsoneditor-min.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='lib/ace/ace.js')}}"></script>
<script type="text/javascript">
    function el(x){ return document.getElementById(x); }

    $(document).ready(function() {
        var ace_edit = ace.edit('textbox-ace');
        var output = el('output');

        function update_output () {
            output.innerHTML = marked(ace_edit.getValue());
        }

        var metadataeditor = new jsoneditor.JSONEditor(el("jsoneditor"));
        metadataeditor.set(JSON.parse(el("jsonmetadata").value));


        ace_edit.setTheme('ace/theme/textmate');
        ace_edit.getSession().setMode('ace/mode/markdown');
        ace_edit.getSession().on('change', update_output);

        update_output();

        $('#button_save').click(function(evt){
            $.post(document.URL, 
                {'content':ace_edit.getValue(),
                 'metadata':JSON.stringify(metadataeditor.get()),
                 'metadataformat':el('metadataformat').value
                },
                function(data){
                    el('return_stuff').innerHTML = data;
                });
            });
    });
</script>
{% endblock %}
