{% extends "layout.html" %}

{% block head_stuff %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='lib/ace/ace.js')}}"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='markdown_editor.css') }}" />
{% endblock %}

{% block nav %}
<button id="button_save">Save</button>
<div id="saving_status" style="color: white;display:block;float: left;"></div>
<button id="button_close">Close</button>
{% endblock %}
{% block display_title %} {{ filename }} {% endblock %}

{% block body %}

<h2>{{ full_filepath }}</h2>

<pre id="textbox-ace">{{ contents }}</pre>
{% endblock %}

{% block javascript_includes %}
{{ super() }}
<script type="text/javascript">
    $(document).ready(function() {
        var ace_edit = ace.edit('textbox-ace');

        ace_edit.setTheme('ace/theme/textmate');
        ace_edit.getSession().setMode('ace/mode/{{filetype}}');
        $('#button_save').click(function(evt){
            save_this_url({'content':ace_edit.getValue()});
            });

    });
</script>
{% endblock %}
