{% extends "layout.html" %}

{% block title %}{{ super() }}:{{title}}{% endblock %}

{% block head_stuff %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lib/jsoneditor-2.1.1.min/jsoneditor-min.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='markdown_editor.css') }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lib/jquery.tagsinput.css') }}" />
{% endblock %}

{% block nav %}
<a class="button" id="button_save">Save</a>
<a class="button" id="button_close" data-url="{{ url_for('view_dir', dirname=path) }}">Close</a>
{% endblock %}
{% block display_title %} {{ title }} {% endblock %}

{% block body %}
<div id="title_and_tags">
  <ul>
    <li><a href="#tt"><span>Title &amp; Tags</span></a></li>
    <li><a href="#metadata"><span>Meta Data</span></a></li>
  </ul>
  <div id="tt">
    <h3>{{ full_filepath }}</h3>
    <input name="title" id="titleinput" value="{{title}}" />
    <input name="tags" id="tags" value="{{tags}}" />
  </div>
  <div id="metadata">
    <input type="hidden" value="{{metadataformat}}" id="metadataformat"/>
    <input type="hidden" value="{{json}}" id="jsonmetadata"/>
    <div id="jsoneditor_container"><div id="jsoneditor"></div></div>
  </div>
</div>

<div id="data-container">
    <h2>Markdown: <a href="http://daringfireball.net/projects/markdown/syntax" target="_blank">?</a></h2>
    <pre id="textbox-ace">{{ contents }}</pre>
</div>

<div id="output-container">
    <h2>Output:</h2>
    <div id="output"></div>
</div>

<div id="return_stuff" style="clear:both"></div>
{% endblock %}

{% block javascript_includes %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='marked.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='lib/jsoneditor-2.1.1.min/jsoneditor-min.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='lib/ace/ace.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='lib/jquery.tagsinput.min.js')}}"></script>
<script type="text/javascript">
    $(document).ready(function() {


        var ace_edit = ace.edit('textbox-ace');
        var output = el('output');

        function update_output () {
            window.latest_edited_state += 1;
            output.innerHTML = marked(ace_edit.getValue());
        }

        // TODO: simple structure to update back and forth page elements
        //       on changes to the jsoneditor, and vice versa.

        var metadataeditor = new jsoneditor.JSONEditor(el("jsoneditor"));
        metadataeditor.set(JSON.parse(el("jsonmetadata").value));

        // $("#title_and_tags").tabs();

        $('#tags').tagsInput({
            width: "98%",
            height: "2em",
            autocomplete_url:"{{ url_for('tags_list') }}"
        });

        function update_metadata (key, value) {
            // The jsoneditor object doesn't update automatically.
            // So this function lets us easily do that.
            var tmpobj = metadataeditor.get();
            tmpobj[key] = value;
            metadataeditor.set(tmpobj);
        }


        function data_to_save() {
            return {'content':ace_edit.getValue(),
                    'metadata':JSON.stringify(metadataeditor.get()),
                    'title':el('titleinput').value,
                    'tags':el('tags').value,
                    'metadataformat':el('metadataformat').value
                   };
            }
        ace_edit.setTheme('ace/theme/textmate');
        ace_edit.getSession().setMode('ace/mode/markdown');
        ace_edit.getSession().on('change', update_output);

        update_output();

        //$('#titleinput').change(function(){update_metadata('title',this.value);});
        $('#titleinput').change(function(){el('display_title').innerHTML=this.value;});


        $('#button_save').click(function(evt){
            save_this_url( data_to_save() );
            });
        $('#button_close').click(function(evt){
            go_or_save_and_go($('#button_close').data('url'), data_to_save());
        });
    });
</script>
{% endblock %}
