<!doctype html>
<html>
  <head>
    <title>{% block title %}Static Online{% endblock %}</title>
    {% block head_stuff %}
    <link rel="stylesheet" href="{{ url_for('static', filename='lib/jquery-ui-1.10.2.custom/css/smoothness/jquery-ui-1.10.2.custom.css')}}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    {% endblock %}
  </head>
<body>
<header>
  <div id="searchbox"><input id="searchinput" /></div>
  <nav>
  {% block nav %}
  {% endblock %}
  </nav>
<h1 id="display_title">{% block display_title %}Static Online{% endblock %}</h1>
</header>

{% block body %}
<ul>
{% for file in files %}
    <li><a class="file_{{ file.type }}" href="{{file.url}}">{{ file.name }} - {{file.url}} ( {{file.type}} )</a></li>
{% endfor %}
</ul>
{% endblock %}

<div id="flashed_notices">
{% for message in get_flashed_messages() %}
   <div class="flashed">{{ message }}</div>
{% endfor %}
</div>

{% block javascript_includes %}
<script type="text/javascript" src="{{ url_for('static', filename='lib/jquery-1.9.1.min.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='lib/jquery-ui-1.10.2.custom/js/jquery-ui-1.10.2.custom.min.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"></script>

{% endblock %}
</body>
</html>
